.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;
  background-color: rgba(43, 46, 66, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: all 0.3s ease;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

/* logo  */
.navbar img {
  height: 80px;
  margin-left: 20px;
}

.navbar-right {
  display: flex;
  align-items: center;
}


.navbar-right>* {
  margin-left: 20px;
}


.navbar a {
  text-decoration: none;
  color: #e0e6ed;
  font-size: 16px;
  font-weight: 500;
  transition: 0.2s ease;
}

.navbar a:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.SearchContainer {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 8px 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 25px;

  background: rgba(0, 0, 0, 0.2);
  transition: 0.2s ease;
  color: #fff;
}

.SearchContainer svg {
  color: #8f94a8;
}

.SearchContainer:hover {
  border-color: #6c5ce7;
  background: rgba(0, 0, 0, 0.3);
}

.input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 15px;
  color: #fff;
}

.input::placeholder {
  color: #8f94a8;
}