name: Django CI

on:
  push:
    branches: [ "main", "backendphase1", "backendall" ]
  pull_request:
    branches: [ "main", "backendphase1", "backendall" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.11]

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
        
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        cd studyflow_project/backend
        pip install -r requirements.txt
        
    - name: Run Tests
      # This runs our new users/tests.py
      # The settings.py hack automatically uses SQLite here because
      # COMPUTERNAME is not SARAHSHINNAWY
      run: |
        cd studyflow_project/backend
        python manage.py test users
